<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <h1>Users Overview</h1>
        </div>
        <div class="col-sm-12 col-md-4">
            <input type="text" class="form-control w-100" [(ngModel)]="searchTerm" placeholder="Search">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="card-columns">
            <app-user-card *ngFor="let user of users | async | searchUsers: searchTerm" [user]="user"></app-user-card>    
        </div>
    </div>
</div>