<div class="card" (click)="changeEvent(event.UUID)" *ngFor="let event of events | async">
    <div class="card-header p-0">
        <div class="container-fluid pt-0 pb-0">
            <div class="row pt-1 pb-1 pl-1">
                <div class="col-8">
                    {{event.Caller}}
                </div>
                <div class="col-4">
                    <span class="badge" [ngClass]="{'badge-danger': event.Status == 'New', 'badge-warning': event.Status == 'OnGoing', 'badge-success': event.Status == 'Closed'}">{{event.Status}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        
        <small>{{event.Location}}</small>
    </div>
</div>
