<!-- Content of this component will appear on every page. -->

<!-- Main nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    FIRST<span style="color:red">AID</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dispatch">Dispatch</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Users</a>
      </li>
    </ul>
  </div>
</nav>

<!-- App current page -->
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="footer">
  <div class="container-fluid">
    <div class="row footer-desc">
      <div class="col-sm-12 col-md-5 offset-md-1 ">
        <h5>
            FIRSTAID
        </h5>
        <p>Example text here...Lorem ipsum dolor sit amet</p>
      </div>
      <div class="col-sm-12 col-md-5 text-right">
        <h5>
            Something else..?
        </h5>
        <p>Example text here...Lorem ipsum dolor sit amet</p>
      </div>
    </div>
    <div class="row footer-dev">
      <div class="col-sm-12 text-center">
        Developed by Keiren Waddell:
        <a href="https://www.github.com/KeirenW">Github.com</a>
      </div>
    </div>
  </div>
</footer>