<div class="container" *ngIf="formData">
    <h1 class="text-center">{{this.formData.uuid}}</h1>
    <hr>
    <div class="row">
        <div class="col-sm-12 offset-md-3 col-md-6">
            <form [formGroup]="updatedDetails" (ngSubmit)="onSubmit(updatedDetails.value)">
                <div class="form-row">
                    <div class="col">
                        <label for="fName">First Name</label>
                        <input type="text" class="form-control" formControlName="firstName" name="fName" id="fName">
                    </div>
                    <div class="col">
                        <label for="surname">Surname</label>
                        <input type="text" class="form-control" formControlName="surname" name="surname" id="surname">
                    </div>
                </div>
        
                <div class="form-row">
                    <div class="col">
                        <label for="email">Email Address</label>
                        <input type="email" formControlName="email" name="email" id="email" class="form-control" aria-describedby="helpId">
                        <small id="helpId" class="text-muted">Email for correspondence, not used for logging in.</small>
                    </div>
                </div><hr>
                <div class="form-row">
                    <div class="col">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="Active" [checked]="formData.active">
                            <label class="custom-control-label" for="Active" value="true">User is active?</label>
                          </div>
                        <small id="helpId" class="text-muted">Active status must be updated only by the user</small>
                    </div>
                </div><hr>
                <div class="form-row">
                    <div class="col">
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-danger float-right" type="button" (click)="deleteUser()">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

