<ng-container *ngIf="selectedEvent.AssignmentState == null; else assigned">
    <!-- Search for active user -->
    <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Search for a specific user">

    <ul class="list-group" *ngIf="activeUsers.usersOutput.length > 0 ; else loading">
        <li class="list-group-item" *ngFor="let user of activeUsers.usersOutput | searchUsers: searchTerm"
            (click)="assignUser(user)">
            <span class="float-left">{{user.name}}</span>
            <small class="float-right">{{user.distanceText}}</small>
        </li>
    </ul>
</ng-container>

<ng-template #loading>
    <div class="text-center mt-2">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>

<ng-template #assigned>
    <div class="container-fluid" *ngIf="this.selectedEvent.AssignmentState == 1">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <p>Awaiting response from first aider...</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <button class="btn btn-warning" (click)="reAssign()">Re-assign</button><br>
                    <small>Click to re-assign this event to another first aider</small>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" *ngIf="this.selectedEvent.AssignmentState == 2">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <p>A first aider is responding to this event</p>
            </div>
        </div>
    </div>
    </div>
</ng-template>